@model IEnumerable<Chave.Models.ChaveViewModels.LicencaViewModels>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Chave)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Dispositivo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Plataforma)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataLicenca)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Empresa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Chave)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dispositivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plataforma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataLicenca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empresa.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
